@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 97%; /* #fdfaf6 */
    --foreground: 340 10% 25%; /* #402E32 */
    --card: 0 0% 100%;
    --card-foreground: 340 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 340 10% 25%;
    --primary: 9 44% 44%; /* #a24b43 */
    --primary-foreground: 0 0% 100%;
    --secondary: 40 25% 90%; /* #ebe6e1 */
    --secondary-foreground: 340 10% 25%;
    --muted: 40 25% 90%;
    --muted-foreground: 340 5% 45%; /* #8A8D91 */
    --accent: 9 44% 44%; /* #a24b43 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 43 27% 85%; /* #D8C3A5 */
    --input: 43 27% 85%;
    --ring: 9 44% 44%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 340 10% 25%;
    --sidebar-primary: 9 44% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 40 25% 90%;
    --sidebar-accent-foreground: 340 10% 25%;
    --sidebar-border: 40 25% 90%;
    --sidebar-ring: 9 44% 44%;
  }

  .dark {
    --background: 40 33% 97%; /* #fdfaf6 */
    --foreground: 340 10% 25%; /* #402E32 */
    --card: 0 0% 100%;
    --card-foreground: 340 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 340 10% 25%;
    --primary: 9 44% 44%; /* #a24b43 */
    --primary-foreground: 0 0% 100%;
    --secondary: 40 25% 90%; /* #ebe6e1 */
    --secondary-foreground: 340 10% 25%;
    --muted: 40 25% 90%;
    --muted-foreground: 340 5% 45%; /* #8A8D91 */
    --accent: 9 44% 44%; /* #a24b43 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 43 27% 85%; /* #D8C3A5 */
    --input: 43 27% 85%;
    --ring: 9 44% 44%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 340 10% 25%;
    --sidebar-primary: 9 44% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 40 25% 90%;
    --sidebar-accent-foreground: 340 10% 25%;
    --sidebar-border: 40 25% 90%;
    --sidebar-ring: 9 44% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
